---
title: DamiDoop XYZ
layout: main
---

<head>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body class="container">
<div id="main" class="clearfix">
    <nav>
        <div class="window" style="margin-right: 1em;">
            <div class="title-bar">
                <div class="title-bar-text">Navigation</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="window-body">
                <ul class="tree-view">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li>
                        <details>
                            <summary>Projects</summary>
                            <ul>
                                {% for project in site.data.projects-maintained %}
                                <li><a href="/software/{{ project.name }}">{{ project.truename }}</a></li>
                                {% endfor %}
                            </ul>
                        </details>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="row" style="margin-bottom:7rem">
        {% for post in site.posts %}
        <div class="col">
            <div class="window">
                <div class="title-bar">
                    <div class="title-bar-text">{{ post.title }}</div>
                </div>
                <div class="window-body">
                    <fieldset style="padding: 1em">
                        <legend>Description</legend>
                        {% if post.desc == null %}
                        <p>{{ post.excerpt }}</p>
                        {% else %}
                        <p>{{ post.desc }}</p>
                        {% endif %}
                    </fieldset>
                </div>
                <button><a href="{{ post.url }}">Read More</a></button>
                <div class="status-bar">
                    <p class="status-bar-field">Author: {{ post.author}}</p>
                    <p class="status-bar-field">Posted: {{ post.date | date: "%Y-%m-%d"}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
</body>
