* {
    /*font-family: departure-mono;*/
}
a.outofwindow {
    color: white;
}
#main {
    width: 62.5%;
    margin: 0 auto;
}
#main-left {
    width: 62.5%;
    margin: 0 auto;
}
.title {
    font-weight: 650;
    font-size: 72px;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
.container {
    position: relative;
}
.clearfix {
    overflow: auto;
}
@media (min-width:800px) and (orientation: landscape) {
    nav {
        float: left;
        width: 25%;
    }
    nav-right {
        float: right;
        width: 25%;
    }
    section {
        margin-left: 25%;
    }
}
@media (max-width:799px) or (orientation: portrait) {
    #main {
        width: 80%;
        margin: 0 auto;
    }
    nav {
        display: block;
    }
    nav-right {
        float: right;
        width: 25%;
    }
    section {
        margin-left: 0%;
    }
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: white;
    width: 100%;
}
body {
    margin-bottom: 120px;
}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('/assets/fonts-temp/trebuchet/trebuc.woff') format('woff');
}


@font-face {
    font-family: 'Trebuchet MS Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS Italic'), url('/assets/fonts-temp/trebuchet/Trebuchet-MS-Italic.woff') format('woff');
}

button {
    font-family: 'Trebuchet MS', 'Pixelated MS Sans Serif', sans-serif !important;
}
tree-view {
    font-family: 'Trebuchet MS', 'Pixelated MS Sans Serif', sans-serif !important;
}
pre {
    display: block;
    padding: 12px 8px;
    background-color: black;
    color: #c0c0c0;
    font-family: "Perfect DOS VGA 437 Win";
    font-size: 1rem;
    margin: 0;
    * {
        font-family: "Perfect DOS VGA 437 Win";
    }
}