body {
    color: #000000;
    background-color: #d7ffdc;
}

a {
    color: #000000;
}

a:hover {
    color: #50506c
}

.blog-list-date-span {
    color: #333333;
}

.dropdown-content {
  background-color: #d7ffdc;
}

.dropdown-content a:hover {
  background-color: #94c37f;
}
