@import url('https://fonts.cdnfonts.com/css/highway-gothic');
@import url('https://fonts.cdnfonts.com/css/clearviewhwy');


:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

a {
    text-decoration: underline dotted;
}

img {
    width: 100%;
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

.title {
    font-family: 'Highway Gothic Wide', sans-serif;
    font-weight: 400
}

.nav {
    font-family: 'Highway Gothic Narrow', sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav ul {
    list-style: none;
}

.nav li {
    list-style: none;
    margin-right: 1rem
}

.content {
  width: 100%;
  max-width: clamp(320px, 80vw, 900px);
  margin: 0 auto;
  padding: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 2rem 0 0;
}

.page-intro {
    padding-bottom: 1rem;
}

.blog-list-year {
    position: relative;
}

.favorite-article {
  position: absolute;
  left: -1.5rem;
}

.block-quote {
  margin-left: 10%;
}

.wrap-image {
  float: left;
  margin: 0 1rem 1rem 0;
}

.project-card {
  padding-bottom: 2rem;
}

.project-card p {
  margin: 8px 0;
  line-height: 24px;
}

.project-stack-span {
  font-style: italic;
  font-weight: 300;
}

.blog-content {
  margin-bottom: 2rem;
}

.blog-content img {
  display: block;
  margin: auto;
}

img + em { 
  font-size: 0.75rem;
  display: block;
  text-align: center;
  margin-block: 1rem;
}

.misc-entry a {
  font-size: 1.5em;
  font-weight: 500;
}
