---
title: Blog
layout: main
---
<section>
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">{{ page.title }}</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Close"><a href="/blog" style="opacity: 0;">.</a></button>
        </div>
      </div>
      <div class="status-bar">
        <p class="status-bar-field">Author: {{ page.author }}</p>
        <p class="status-bar-field">Posted: {{ page.date | date: "%B %d, %Y"}}</p>
      </div>
      <div class="window-body">
        <fieldset>
          {{ page.content }}
        </fieldset>
        <section class="field-row" style="justify-content: flex-end">
          {% if page.previous.url %}
          <button><a href="{{ page.previous.url }}">Previous Post</a></button>
          {% else %}
          <button disabled>Previous Post</button>
          {% endif %}
          {% if page.next.url %}
          <button><a href="{{ page.next.url }}">Next Page</a></button>
          {% else %}
          <button disabled>Next Post</button>
          {% endif %}
        </section>
      </div>
    </div>
</section>
