<!DOCTYPE html>

<style>
    body {
        background-image: url("/assets/img/leaves.webp")
    }
    @media (min-width: 30em) {
        .urow { width: 100%; display: table; table-layout: fixed; }
        .ucol { display: table-cell; }
    }
    @font-face {
        font-family: "Pixelated MS Sans Serif";
        src: url('/node_modules/xp.css/dist/ms_sans_serif.woff2') format('woff2');
    }

    @font-face {
        font-family: "Pixelated MS Sans Serif";
        src: url('/node_modules/xp.css/dist/ms_sans_serif_bold.woff2') format('woff2');
        font-weight: bold;
    }
</style>
<head>
    <meta charset="UTF-8" />
    <link id="site-theme" rel="stylesheet" href="/assets/css/theme/XP.css"/>
<!--    <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css" />-->
    <link rel="stylesheet" href="/assets/css/index.css"/>
    <title>{{ page.title }} | {{ site.title }}</title>
    <script src="/assets/js/main.js"></script>
</head>
<body class="container">
    <div class="title">
        <p style="font-family: InterVariable, Inter, sans-serif">DAMIDOOP XYZ</p>
    </div>
    <div id="main" class="clearfix">
        <nav>
            <div class="window glass active" style="margin-right: 1em; margin-bottom: 1em;">
                <div class="title-bar">
                    <div class="title-bar-text">Navigation</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    {% include nav.html %}
                    <div style="margin-top: .5em;">
                        <select id="theme-selector">
                            <option id="xp-style" value="0">XP Theme</option>
                            <option id="98-style" value="1">98 Theme</option>
                            <option id="7-style" value="2">7 Theme</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="window glass active" style="margin-right: 1em; margin-bottom: 1em;">
                <div class="title-bar">
                    <div class="title-bar-text">Hits & Buttons</div>
                </div>
                <div class="window-body">
                    <marquee>
                        <div>
                            <img src='https://www.free-website-hit-counter.com/zc.php?d=9&id=4484&s=18' border='0'>
                            <img src="/assets/img/pictures/buttons/any_browser.gif">
                            <a href="https://bmh.neocities.org/"><img src="/assets/img/pictures/buttons/bestview.gif"></a>
                            <img src="/assets/img/pictures/buttons/bmhonline_button.gif">
                            <img src="/assets/img/pictures/buttons/can_iam.gif">
                            <img src="/assets/img/pictures/buttons/linux_powered.gif">
                        </div>
                    </marquee>
                    <section class="field-row" style="justify-content: flex-end">
                        <button onclick="window.location = '/buttons'">Check Out!</button>
                    </section>
                </div>
            </div>
            <div class="window glass active" style="margin-right: 1em; margin-bottom: 1em;" id="hide">
                <div class="title-bar">
                    <div class="title-bar-text">Computers I want</div>
                    <div class="title-bar-controls">
                        <button aria-label="Close" onclick="hideWindow()"></button>
                    </div>
                </div>
                <div class="window-body">
                    <fieldset>
                        <legend>Computers</legend>
                        {% for computer in site.data.computers %}
                        {% if computer.tag == "want" %}
                        <fieldset>
                            {% if computer.img %}
                            <img src="{{ computer.img }}" alt="{{ computer.name }}" style="width:15%; float: left;
                            margin-right: .5em; border: 2px solid gray;">
                            {% endif %}
                            <p><strong>{{ computer.name }}</strong></p>
                            {% if computer.desc %}
                            <p>{{ computer.desc }}</p>
                            {% endif %}
                            <section class="field-row" style="justify-content: flex-end;">
                                {% if computer.doc %}
                                <button onclick="window.location = '{{ computer.doc }}'">User Manual</button>
                                {% else %}
                                <button disabled>User Manual</button>
                                {% endif %}
                            </section>
                        </fieldset>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>
            </div>
        </nav>
        {{ content }}
    </div>
</body>
